.array-container {
    height: 80%;
    width: 95%;
    position: absolute;
    left:2.5%;
    bottom: 80px;
    background-color: green;
}

.array-bar-container {
    height: 100%;
    background-color: blue;
    display: inline-block;
}

.array-bar {
    background-color:white;;
    width: 100%;
    margin: auto;
    bottom: 0;
}