.array-container {
    height: 80%;
    width: 95%;
    position: absolute;
    left:2.5%;
    bottom: 100px;
}

.array-bar-container {
    height: 100%;
    display: inline-block;
}

.array-bar-container-2 {
    height: 100%;
    width: 80%;
    background-color: blue;
}

.array-bar {
    background-color:white;
    width: 100%;
    margin: auto;
    bottom: 0;
}

.bar {
    background-color: green;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
}

#new {
    position: absolute;
    bottom: 35px;
    left: 500px;
    margin: 0;
}

button {
    height: 30px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-column1 {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0;
    margin-left: 50px;
}

.input-column2 {
    position: absolute;
    bottom: 0;
    margin-left: 250px;
}

.button-column1 {
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 350px;
}

.button-column2 {
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 200px;
}

.button-column3 {
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 50px;
}